body 
{
    background: url(../pictures/hard_work_background_2.jpg);
    background-size: cover;
}

.header
{
  
}

.header h1
{
    font-family: 'Cabin Sketch', cursive;
    color: #ff6227;
    font-size: 6em;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
}

.span_box
{
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: 1;
    background: #317ac4;
    border-radius: 100%;
    width: 150px;
    padding: 20px;
    text-align: center;
    transform: rotate(-30deg);
}

span.do_little
{
  color: white;
    font-size: 1em;
    font-family: 'Julius Sans One', sans-serif;
}

.username 
{
    background-color: rgba(5, 5, 5, 0.42);
    height: 200px;
    margin-top: 30px;
}

.space_row
{
    height: 30px;
}

.wrapper_lists
{
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
}

.existing_to_do 
{
   background-color: rgba(5, 5, 5, 0.42);
   height: 200px;
   flex-basis: 50%;
   margin-right: 15px;
}

.add_to_do
{
    background-color: rgba(5, 5, 5, 0.42);
    height: 200px;
    flex-basis: 50%;
    margin-left: 15px;
}


footer nav
{
    display: flex;
    justify-content: space-around;
    background: black;
    padding: 20px;
    margin-top: 30px;
}

footer nav li
{
    flex-basis: 50%;
    margin: auto;
    display: inline-block;
    text-align: center;
    list-style: none;
}

li a
{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 1.2em;
}

li a:hover,
li a:active
{
    color: #ff6227;
}



