body 
{
    background: url(../pictures/hard_work_background_2.jpg);
    background-size: cover;
    margin: auto;
}

.header h1
{
    font-family: 'Cabin Sketch', cursive;
    color: #ff6227;
    font-size: 6em;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 40px;
}

.span_box
{
    margin-top: -80px;
    margin-left: -40px;
    z-index: 1;
    background: #317ac4;
    border-radius: 100%;
    width: 150px;
    padding: 20px;
    text-align: center;
    transform: rotate(-30deg);
    box-shadow: 2px 2px 5px #191919;
}

span.do_little
{
    color: white;
    font-size: 0.8em;
    font-family: 'Julius Sans One', sans-serif;
}

.wrapper_lists
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.box_add_to_do,
.box_existing_to_do
{
    text-align: center;
    background-color: rgba(5, 5, 5, 0.57);
    margin: auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 1.2em;
    
}

.box_add_to_do
{
    flex-basis: 30%;
}

.box_existing_to_do
{
    flex-basis: 60%;
    padding-bottom: 50px;
}

hr
{
    border-width: 2px;
    color: white;
    margin-top: 20px;
    width: 100%;
}

.box_add_to_do h1, 
.box_add_to_do h2,
.box_existing_to_do h3, 
.box_existing_to_do h4,
.box_existing_to_do h5,
.box_existing_to_do li,
p.empty_list
{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black;
    
}

p.empty_list
{
    padding-top: 40px;
}

.box_existing_to_do h3
{
    font-size: 2.5em;
}

.box_existing_to_do h5,
.box_existing_to_do li
{
    font-size: 1em;
}

.box_existing_to_do h5
{
    margin-bottom: 60px;
}

.box_existing_to_do ul
{
    
    display: inline-block;
    padding-left: 0px;
    float: left;
}

li.task,
li.name,
li.priority
{
    margin-right: 45px;
}

li.name
{
    margin-left: 145px;
}

li.add_priority_button
{
    position: absolute;
    right: 50px;
}

form#add input[type=text]
{
    width: 70%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    background: #aad4ff;
    border: none;
    padding: 10px;
    color: black;
    box-shadow: 2px 2px 5px #191919;
}

form input[type=submit]
{
    background: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8em;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    margin: auto;
    box-sizing: border-box;
    text-shadow: 2px 2px 2px black;
    display: inline-block;
}

form.add_priority input[type=submit]
{
    width: 105px;
}

.form_wrapper form input[type=submit]
{
    float: right;
    margin-right: 0px;
}

form#edit input[type=submit]
{
   background: #317ac4;
}

.form_wrapper
{
    width: 100%;
}

form.edit_task input[type=text],
form.edit_task input[type=number]
{
    
    width: 30%;
    font-size: 1.1em;
    background: rgba(5, 5, 5, 0);
    border: none;
    float: left;
}

form.edit_task input[type=number]
{
    width: 10%;
    margin-right: 25px;
    text-align: center;
}

form#remove_task input[type=submit]
{
    background: red;
    width: 60px;
}

.clear
{
    clear: both;
}

form#add input[type=submit]
{
    font-size: 1.2em;
    margin-top: 20px;
}

.button_wrapper2
{
    margin: auto;
    width: 200px;
    margin-top: 30px;
}

form#clear_list input[type=submit],
form#prior_list input[type=submit]
{
    background: red;
    margin-top: 20px;
    width: 90px;
    float: left;
}

form#prior_list input[type=submit]
{
    background: #317ac4;
    width: 110px;
}

.box_existing_to_do li
{
    font-size: 1.1em;
    list-style: none;
    margin-bottom: 10px;
    float: left;
}

footer nav
{
    display: flex;
    justify-content: space-around;
    background: black;
    padding: 20px;
    margin-top: 30px;
}

footer nav li
{
    flex-basis: 50%;
    margin: auto;
    display: inline-block;
    text-align: center;
    list-style: none;
}

li a
{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 1.2em;
}

li a:hover,
li a:active
{
    color: #ff6227;
}



